@using MvcStok.Models.Entity
@*@model PagedList.IPagedList<TblMUSTERILER>
@using PagedList
@using PagedList.Mvc*@
@model List<TblMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-bordered">
    <thead>
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Alert</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <th>@x.MUSTERIID</th>
                <td>@x.MUSTERIAD</td>
                <td>@x.MUSTERISOYAD</td>
                <td> <a href="/Musteri/Sil/@x.MUSTERIID" class="btn btn-danger">Sil</a></td>
                <td> <a href="/Musteri/Update/@x.MUSTERIID" class="btn btn-primary">Güncelle</a></td>
                <td>@Html.ActionLink("Sil Butonu", "Sil", new { id = x.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek istiyor Musunuz')" })</td>

            </tr>
        }
</table>
<a href="/Musteri/MusteriEkle/" class="btn btn-success">Müşteri Ekle</a>
@*@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>