@model MvcStok.Models.Entity.TblKATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfası</h2>

<form class="form-group" method="post">
    @*<div>
            <label>Kategori Adı</label>
            <input type="text" class="form-control" name="KATEGORIAD" />
        </div>*@
    @*<br />*@
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.KATEGORIAD, "", new { @style = "color:blue" })
    </div>

    <div style="margin-top:15px" class="btn btn-info">
        <button style="padding:5px"id="btn2" class="btn btn-info">Kategori Ekle</button>
    </div>
    @*<script>
        $('#btn2').click(function (){

            alert("Kategori Ekleme İşlemi Yapıldı..!");
        });
    </script>*@
</form>